.wrapper {
  display: flex;
  justify-content: space-around;
}

.stepCard {
  width: 25%;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.videoWrapper {
  width: 200px;
  height: 200px;
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
}

.active {
  transform: scale(1.2);
}

.videoItem {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 18px;
  margin-top: 35px;
  margin-bottom: 10px;
  font-weight: normal;
}

.content {
  font-size: 18px;
  min-height: 122px;
}
