.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.backBtn {
  cursor: pointer;
}
.link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.author {
  cursor: pointer;
  margin-left: 2px;
}
