* {
  --lg: 1120px;
  --header-height: 77px;
  --padding: 30px;
  --primary: #143b6d;
  --hover: #ea5b29;
  --orange-muted: #f8ac17;
}

body {
  min-height: 100vh;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
