* {
  --lg: 1120px;
  --header-height: 77px;
  --padding: 30px;
  --primary: #143b6d;
  --hover: #ea5b29;
  --hover-gradient: linear-gradient(
    to right,
    #f38e22,
    #ea5b29 100%,
    transparent 50%
  );
}

body {
  min-height: 100vh;
}
