.wrapper {
  background-image: var(--radio-gradient);
  background-position: center center;
  background-repeat: no-repeat;
}
.activeArea::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background: var(--hover);
}

.tableRow {
  box-shadow: 0 0 0 0.5px #dcdcdc;
}
.tableRow:hover {
  background: var(--hover-gradient);
  background-size: 200% 100%;
  transition: background-position 275ms ease;
  cursor: pointer;
}
.tableCell {
  padding: 20px 10px !important;
  flex-shrink: 1;
}
