.wrapper {
  background: var(--hover-gradient);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  cursor: pointer;
}

.wrapper:hover {
  background-position: 0%;
}
