/** @jsx jsx */
.footer {
  width: 100%;
}
.wrapper {
  padding: 6em var(--padding) 0;
}
.content {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  line-height: 2;
  font-weight: bold;
}
.copyright {
  font-size: 12px;
  padding-top: 20px;
}

.link {
  color: #fff;
  text-decoration: none;
}
.content .link:hover {
  color: #ea5b29;
  position: relative;
}

.content .link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  bottom: -4px;
  background: #ea5b29;
  animation: hoverAnimation 0.3s ease-in-out;
}

@keyframes hoverAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
.divider {
  background: #f4f4f4;
  margin-top: 3em;
  height: 3px;
}
.logo {
  height: var(--header-height);
}

.content dd {
  margin-bottom: 0;
}
